body{
	padding-top: 50px;
}

nav{
	margin: 0px;
}



.jumbotron{
	background-image: url("images/2.jpg");
	background-size: cover;
	margin-top: 0px;
}

.button1{

	padding: 6px;
	border: none;
	background: #EFEFEF;
	border-radius: 5px;
	width: 40px
	height: 4px;
	margin: 6px;
	color: black;

}

.box1{


    background-size: cover;

    text-align: center;
    color: white;
}

.jumbotron p{
	font-size: 12px;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}

.jumbotron h1{
	font-size: 27px;
	text-align: center;
}

.row{
	padding-top: 0px;
	margin-top: 40px;
}

.row h2{
	font-size: 22px;
	text-align: center;
}

.row p{
	text-align: center;
	font-size: 10px;
}

.button2{

	padding: 6px;
	background: #EFEFEF;
	border-radius: 5px;
	width: 40px
	height: 4px;
	margin: 6px;
	color: black;
	display:block;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
}	

.thumbnail{
	border: solid 5px #ccc;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	margin-top: 2%;
	border-radius: 20px;
}

.thumbnail img{
	width: 100%;
	
}

.box3{
	padding-left: 50%;
	padding-right: 50%;
	height: 50px;
	padding-top:15px;
	border: solid 1px #ccc;
	margin-top: 15px;
	

}

.box3 p{
	text-align: center;
	
}	

.glyphicon{
	
	width: 400%;
	
}
.box4{
	padding-top: 20px;
	
	background-color: #ccc;
	width: 100%;
	height: 50px;
	
	clear: both;
}

.box4 p{

	color: black;
	font-size: 11px;
	
	text-align: center;	
}



}

	